{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Victor BRanch change -->
    <h1>Welcome to DinoPedia</h1>
    <p>Explore the amazing world of dinosaurs</p>
    <hr>
    <form method="get" action="{% url 'search_results' %}">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <hr>
    <div class="row">
        {% for dinosaur in dinosaurs %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if dinosaur.image %}
                <img class="card-img-top" src="{{ dinosaur.image.url }}" alt="{{ dinosaur.name }}">
                {% else %}
                <p class="card-img-top"> No images for {{ dinosaur.name }}</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ dinosaur.name }}</h5>
                    <p class="card-text">{{ dinosaur.description }}</p>
                    <a href="{% url 'dinosaur_detail' dinosaur.pk %}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No dinosaurs found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}